NEXT_PUBLIC_SUPABASE_URL=https://ijdrhxljjtsuxbvidpzs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqZHJoeGxqanRzdXhidmlkcHpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4NDI4MzAsImV4cCI6MjA5NjQxODgzMH0.TnD0jVu9IGNfN0EgaLTX-N6a2uilfdr5F2sUEKInvTU
